adapter_name: dwe_nessie
project_name: {{ project_name }}
git_repo_url: {{ git_repo_url }}
adapter_version: {{ adapter_version }}
cloud_provider: {{ cloud_provider }}
environments: {{ environments }}
